@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-bottom: 0 !important;
}

.hide-scrollbar {
    perspective-origin: right top;
    perspective: 1px;
    transform-style: preserve-3d;
    will-change: transform,scroll-position;
    overscroll-behavior-y: contain;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.min-h-screen-header {
    min-height: calc(100vh - 40px);
}

.h-screen-header {
    height: calc(100vh - 40px);
}

.sticky-header th {
    position: sticky;
    top: 0;
    background: rgb(249, 250, 251);
    z-index: 10;
}
.sticky-header tr:nth-child(2) th {
    top: 27px;
    box-shadow: inset 0 1px 0 rgba(229, 231, 235, 1);
}
.sticky-header tr:nth-child(3) th {
    top: 51px;
    box-shadow: inset 0 1px 0 rgba(229, 231, 235, 1);
}
.custom-object-position-40 {
    object-position: 50% 40%;
}
.custom-object-position-30 {
    object-position: 50% 30%;
}
