@import '~react-toastify/dist/ReactToastify.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-bottom: 0 !important;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
    transition: .5s ease;
    background: transparent;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    background: none !important;
}

.image-container:hover .image-overlay {
    height: 100%;
    .image-text-small {
        margin-top: 0;
        transition: .5s ease-in-out;
    }
}

.image-text-small {
    position: absolute;
    overflow: hidden;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -10%);
    background: none !important;
}
